@using Microsoft.AspNet.Identity
@model Gaming_Club.Models.Market

@{
    ViewBag.Title = "Create";
}



<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SalesGUID, htmlAttributes: new { Value = Guid.NewGuid() })
    <div class="form-horizontal">
    <h4>Market</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
        </div>
    </div>
    @{List<SelectListItem> listGames = new List<SelectListItem>();
        foreach (var game in ViewBag.myGames)
        {
            listGames.Add(new SelectListItem
            {
                Text = game.Value,
                Value = game.Key
            });
        }
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Games.GameName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.GameGUID, listGames, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ItemDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ItemDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", Min = "1", Max = "99" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PPU, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PPU, new { htmlAttributes = new { @class = "form-control", Min = "0.01", Max = "99999.00" } })
            @Html.ValidationMessageFor(model => model.PPU, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.UserId, htmlAttributes: new { Value = User.Identity.GetUserId() })


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
